<div class="row">
    <div class="col-12">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">Rendszám</th>
                    <th scope="col">Tankolás dátuma</th>
                    <th scope="col">Tankolt mennyiség (liter)</th>
                    <th scope="col">Kilométer állás</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><%= %></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><button class="btnModosito" id="btnModosit">módosítás</button></a></td>
                    <td><a href="#"><button class="btnTorlo" id="btnTorol">törlés</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>